/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------*/
.position-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

body{
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.main-screen{
  margin: 100px;
  padding: 8px;
  width: 1000px;
  height: 600px;
  background-color: #CFD8DC;

  border: 1px solid #CFD8DC;
  border-radius: 20px;
}
.canvas{
  margin: 8px;
  width: 990px;
  height: 450px;
  background-color: #CFD8DC;
}
.canvas div {
 
  width: 3%;
  height: 20px;
  float: left;
  border: 1px solid #BDBDBD;
  background-color: #ffffff;
}
.palette{
  margin-top: 25px;
  margin-left: 8px;
}
.palette div{
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 25px;
  margin-right: 5px;
  float: left;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
}

.displayColor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.displayColor h6{
  margin-left: 50px;
  font-size: 24px;
}

.displayColor div{
  background-color: #ffffff;
  float: left;
  margin-left: 50px;
  width: 50px;
  height: 30px;
  border: 1px solid black;
}
